body{
    background-image: url("/home/moringaschool/Desktop/My-projects/Week2/IP Week2/Akan-names/smiling-woman-wearing-green-and-black-turban-2952204.jpg");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
#names{
    font-size: 15px;
}
#names h2{
    color: black;
    font-size: 19px;
    font-family: 'Rye', cursive;
}
#names li{
    font-family: 'Arya', sans-serif;
    color: black;
    font-size: 15px;
}
#intro h1{
    text-align: center;
    color: black;
    font-family: 'Rye', cursive;
    margin-top: 100px;
}
#intro p{
    font-family: 'Arya', sans-serif;
    color: black;
    font-size: 15px;
}
#inst{
    font-family: 'Rye', cursive;
    color: black;
}
.btn{
    width: 250px;
    border-radius: 10px;
  }
#result{
    margin-top: 30px;
    color: #000000;
    font-size: 28px;
  }
